<ion-view view-title="Home" >
  
  <ion-content>

    <button class="button button-clear button-positive" ng-click="blood = !blood">
     Create post
    </button>



    <div class="card" ng-show="blood">
      <div  style="text-align: center;background-color: 	#A00000 ;padding: 9px;">
        <h3>Post blood requirement.</h3>
      </div>
      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Blood Group
          </div>
          <select ng-model="HM.d.bloodGroup">
            <option>A Positive</option>
            <option>B Positive</option>
            <option>AB Positive</option>
            <option>O Positive</option>
          </select>
        </label>

        <label class="item item-input">
          <input type="number" placeholder=" No. Of Unit Required:" ng-model="HM.d.unit">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Urgency
          </div>
          <select ng-model="HM.d.urgency" ng-required="required">
            <option>Within 1 Day</option>
            <option>Within 2 Days</option>
            <option>Within 3 Days</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Country
          </div>
          <select ng-model="HM.d.country" ng-required="required">
            <option>Pakistan</option>
            <option>India</option>
            <option>London</option>
            <option>Dubai</option>
            <option>America</option>
            <option>Turkey</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            City
          </div>
          <select ng-model="HM.d.city" ng-required="required">
            <option>Karachi</option>
            <option>Lahore</option>
            <option>Kolkata</option>
            <option>Mumbai</option>
            <option>Hyderabad</option>
            <option>Delhi</option>
            <option>Westminster</option>
            <option>Bromley</option>
            <option>Camden</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Hospital
          </div>
          <select ng-model="HM.d.hospital" ng-required="required">
            <option>National Hospital</option>
            <option>Abbasi Shaheed Hospital</option>
            <option>Aga Khan, K.R.H</option>
            <option>Civil Hospital (Casualties)</option>
            <option>Mental Hospital</option>
            <option>Doctors Hospital</option>
            <option>Jinnah Hospital</option>
            <option>AIIMS Jodhpur</option>
            <option>AIIMS Patna</option>
            <option>Artemis Hospital</option>
            <option>Moolchand Hospital</option>
            <option>Barnet General Hospital</option>
            <option>Chase Farm Hospital</option>
            <option>Highlands Hospital</option>
            <option>Wellington Hospital</option>
          </select>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Your relation with patient" ng-model="HM.d.patient" ng-required="required">
        </label>

        <label class="item item-input">
          <input type="number" placeholder="Contact Number" ng-model="HM.d.number" ng-required="required">
        </label>

        <label class="item item-input">
          <textarea placeholder="Additional instructions" ng-model="HM.d.text">Write Something...!</textarea>
        </label>
      </div>
      <button class="button button-dark button-full" ng-click="HM.saved(HM.d)">
       Post
      </button>
    </div>


    <div ng-repeat="bp in HM.bloodPost">
      <div class="card" ng-click="mani = !mani " style="text-shadow: 1px 0px #E00000 ">
        <div class="item item-divider">
          <div class="item item-divider" style="text-align: center;"> 
               <img src="https://cdn.evbuc.com/images/2138581/68889684663/1/logo.png" alt="" ng-click="blood = !blood" height="30px" style="float:left">
              <!--<img src="https://cdn.evbuc.com/images/2138581/68889684663/1/logo.png" alt="" ng-click="blood = !blood" height="30px" style="float:right">-->


            Feed
          </div>
          <div class="item item-text-wrap">
            <p class="item item-divider"> {{bp.firstName}}.</p>
            <p class="item item-divider"> {{bp.unit}} units of {{bp.bloodGroup}} blood required.</p>
            <p class="item item-divider"> At {{bp.hospital}}  for my {{bp.patient}}.</p>
            <p class="item item-divider"> Urgency {{bp.urgency}}.</p>
            <p class="item item-divider"> Contact No : {{bp.number}}.</p>
            <p class="item item-divider"> Additional instruction: {{bp.text}}.</p>
            <p class="item item-divider"> Volunteer uptill now. {{bp.count}}</p>
            <p class="item item-divider"> Current requirements: {{bp.unit}}.</p>
            <button class="button button-calm" ng-disabled="HM.postObj[bp.$id]" ng-click="HM.addVolunteer(bp.$id)">
              Volunteer
            </button>
            <button class="button button-calm" style="float: right" ng-disabled="true">
              Comments
            </button>
          </div>


        </div>
      </div>

      <div class="card" ng-show="mani">
 <div class="item item-divider" style="text-align: center ;text-shadow: 1px 0px #E00000 "> 
                  <img src="https://cdn.evbuc.com/images/2138581/68889684663/1/logo.png" alt="" ng-click="blood = !blood" height="30px" style="float:left">
              <img src="https://cdn.evbuc.com/images/2138581/68889684663/1/logo.png" alt="" ng-click="blood = !blood" height="30px" style="float:right">
            POST DETAILS.
          </div>
        <div class="item item-text-wrap" id="style">
          
          <p class="item item-divider">{{bp.firstName}} </p>
          <br/>
          <p class="item item-divider">{{bp.unit}} units of {{bp.bloodGroup}} blood required:</p>
          <br/>
          <!--<p class="item item-divider">Donation received : ____== </p>-->
          <!--<br/>-->
          <!--<p class="item item-divider">Still required : ____== </p>-->
          <!--<br/>-->
          <p class="item item-divider"> Blood group: {{bp.bloodGroup}}</p>
          <br/>
          <p class="item item-divider">Location: {{bp.country}} {{bp.city}} </p>
          <br/>
          <p class="item item-divider">Hospital: {{bp.hospital}} </p>
          <br/>
          <p class="item item-divider">Urgency : {{bp.urgency}}</p>
          <br/>
          <p class="item item-divider">Relation with patient {{bp.patient}}</p>
          <br/>
          <p class="item item-divider">Contact no: {{bp.number}}</p>
          <br/>
          <p class="item item-divider">Additional instruction:</p>
          <span class="item item-divider" style="border: solid 1px 	#A00000;text-align: center">{{bp.text}}</span>
        </div>


          <div class="item item-divider">         <!--========for volunteer========-->
            <h2>Volunteer</h2>
            <div class="item item-text-wrap" ng-repeat="v in bp.volunteers" style="border: solid 1px 	#A00000">
             <a href="" >{{v.firstName}} {{v.lastName}}</a> <br/>   {{v.blood}} <br/> 
             <span style="font-size:13px">{{v.bloodStatus}}</span>
            </div>
        
          </div>

          <div class="item item-divider">        <!--========for Comment======-->
            <h2>Comment</h2>
            <div class="item item-text-wrap" ng-repeat="c in bp.commnets" style="border: solid 1px 	#A00000">
              <h4> <a href="">{{c.commenterName}}</a>   {{c.comment}}</h4>
            </div>
          </div>


        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Comment" ng-model="HM.obj.comment">
          </label>
          <button class="button button-small button-balanced" ng-click="HM.addComment(bp.$id)">
            Submit
          </button>
        </div>



      </div>
    </div>


   </div>
  </ion-content>
</ion-view>

<style>

  #style > p {
    /*font-weight: bold;*/
    font-family:'Lucida Bright', Georgia, serif;
    border: solid 1px 	#A00000 ;
    /*font-size: 19px;*/
    /*background-color: 	#A00000 ;*/
  }
  #style > span{
    font-family: cursive;
  }
  h3{
    color: white;
  }
</style>
